<p>
  demo works!
</p>
<!--
As we can see we have a variable defined ‘name’ that we use to show the name on the component’s template.
If we change the name to some other, it is reflected in the template.
We can also make it as an @Input to take the value of ‘name’ from the parent component where this component would be used.
Eg. @Input()name: string = 'John!'

So, now the use case for content projection kicks in.
What if I wanted the user to provide the heading tag along with the name of the user.
He can provide an <h1> or an <h2> tag along with the name as it suits him.
This is where Angular’s content projection kicks in.

-->
